@{
    ViewData["Title"] = "Oops!";
}

<h3>@ViewData["Title"]</h3>

<div class="alert alert-danger" role="alert">
    @ViewBag.Erro
</div>
<br/>
<a asp-action="Index" class="btn btn-default">Voltar a página anterior</>


