@{
    ViewData["Title"] = "Bem vindo ao Coffee Home!";
}

<h3 class="text-center">@ViewData["Title"]</h3>

<br />

<div class="container-fluid" style="width:30%">
    <table class="table table-sm table-dark">
        <thead>
            <tr class="text-center">
                <th colspan="2" scope="col" style="font-size:30px">Escolha seu café:</th>
            </tr>
        </thead>
        <tbody class="text-center">
            <tr>
                <td>Cappuccino</td>
                <td>
                    <a class="btn btn-secondary">Selecione</a>
                </td>
            </tr>
            <tr>
                <td>Mocha</td>
                <td>
                    <a class="btn btn-secondary">Selecione</a>
                </td>
            </tr>
            <tr>
                <td>Café com Leite</td>
                <td>
                    <a class="btn btn-secondary">Selecione</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
